{% extends 'base.html' %}
{% block title %}Welcome to my blog{% endblock %}

{% block content %}
<div class="mdl-cell mdl-cell--12-col">
    <h2>Posts</h2>
    {% if posts %}
        {% for post in posts %}
            <div class="mdl-card mdl-shadow--2dp">
              <div class="mdl-card__title">
                 <h2 class="mdl-card__title-text"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
              </div>
              <div class="mdl-card__supporting-text">
                  {{post.body}}
              </div>
              <div class="mdl-card__actions">
                 {{post.posted}} - By {{post.author}}
              </div>
            </div>
        {% endfor %}
    {% else %}
        <p>There are no posts.</p>
    {% endif %}
</div>
{% endblock %}
