{% extends 'base.html' %}
{% block title %}关于我{% endblock %}

{% block content %}
<div>
    <h1>草稿本</h1>
    <p>我是<strong>黄峰达</strong>，1991年出生于闽南，双子座，毕业于西安文理学院(电子信息工程专业)，目前就职于ThoughtWorks(西安)。</p>
    <p>农村长大，热爱大自然，热爱生活。和哈比特人一样喜欢土地里长出来的东西。 </p>
    <p>是一个文艺控。喜欢读书，喜欢纸的质感，喜欢用笔铭刻记忆和思想。 </p>
    <p>是一个设计控，一个DIY爱好者。喜欢自行设计一些小东西，相比理论而言更喜欢动手实践，比如拆装自己的手机、电脑等。 </p>
    <p>最喜欢折腾与计算机相关的东西：<code>SEO</code>、<code>前端开发</code>、<code>硬件相关</code>(如：Raspberry Pi,51,Arduino,OpenWRT,uCOS...)。
    </p>
    <h2>关于博客</h2>
    <p>一方面，找到更多志同道合的人；另一方面，扩大影响力。</p>
    <p>内容包括</p>
    <ul>
        <li>成长记录</li>
        <li>技术笔记</li>
        <li>生活思考</li>
        <li>个人试验</li>
    </ul>
    <p>对我来说，博客既可以让我回想起我之前玩过的东西，记录我的成长过程，更可以让未来的我看到现在的不成熟想法与<code>创意</code>。</p>
    <h2>关于我</h2>
    <p>一直想说的一句话是:</p>
    <h3>这个社会唯一的公平就是——它是不公平的。</h3>
    <p>So，为什么不快乐的活着，去热爱生活呢？</p>
    <div class="posts"><p></p>
        <ul>
            <li>2001 因为比赛学习五笔与DOS</li>
            <li>2002 还记得LOGO么，那只小海龟，以及RT LT</li>
            <li>2003.9~2006 接触BASIC，在自己的小霸王游戏机上用Game Basic编程</li>
            <li>2007 接触C++，学习游戏开发相关</li>
            <li>2008 学习游戏引擎</li>
            <li>2009 转向操作系统开发学习 《linux内核设计与实现》</li>
            <li>2009.09《代码之美》，android出现了。</li>
            <li>2010 认为硬件、移动是未来-&gt;升入大学，学习电子信息工程专业。</li>
            <li>2010.10 开始接触web开发，学习网站前台相关，学习python</li>
            <li>2012 有了自己的博客——phodal.com 买下了高中很想要的HTC G1</li>
            <li>2013 移动开发、物联网</li>
            <li>2013.12~2014.6 ThoughtWorks实习</li>
            <li>2014.7 ~ ThoughtWorks Consultant
            </li>
        </ul>
    </div>
    <h2>To DO</h2>
    <div class="posts">
        <ul>
            <li>28岁...</li>
            <li>设计师</li>
            <li>自由职业者</li>
            <li>Dream-Coastline
            </li>
        </ul>
    </div>
    <h2>Doing</h2>
    <p><a href="http://www.xuntayizhan.com/">寻ta驿站</a> 一个寻找有趣的人、事、物的网站。</p>
</div>
{% endblock %}
